.popup__button {
  width: 100%;
  height: 46px;
  border: 0;
  padding: 0;
  margin-top: 10px;
  background-color: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color .6s;
}

@media screen and (min-width: 768px) {
  .popup__button {
    margin-top: 13px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, .8);
}
