.auth__button-submit {
  width: 100%;
  margin-top: 154px;
  padding: 13px 0;
  min-height: 46px;
  border: none;
  background: #FFFFFF;
  border-radius: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .auth__button-submit {
    margin-top: 200px;
    padding: 14px 0;
    font-size: 18px;
    line-height: 1.22;
  }
}
