.header__auth {
  display: grid;
  padding-right: 27px;
  box-sizing: border-box;
  column-gap: 24px;
  justify-self: end;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .header__auth {
    padding: 0;
    grid-template-columns: repeat(1, auto);
  }
}
