.header__auth {
  display: grid;
  box-sizing: border-box;

  column-gap: 24px;
}

@media screen and (min-width: 1024px) {
  .header__auth {
    grid-template-columns: repeat(2, 1fr);
    justify-self: end;
    align-self: center;
  }
}
