.header__link {
  display: flex;
  padding: 28px 27px 31px;
  transition: opacity 1s;
}

@media screen and (min-width: 1024px) {
  .header__link {
    padding: 46px 0 39px;
  }
}

.header__link:hover {
  opacity: .6;
}
