.header__button-burger {
  width: 24px;
  height: 21px;
  padding: 0;
  margin-right: 27px;
  align-self: center;
  justify-self: end;
  background-image: url(../../../images/icon-burger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1024px) {
  .header__button-burger {
    display: none;
  }
}
