.auth__link {
  padding-top: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .auth__link {
    padding-top: 15px;
  }
}
