.header__auth-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header__auth-link {
    text-align: right;
  }
}
