.card__button-like {
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  margin-bottom: 3px;
  background-color: transparent;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .6s;
  cursor: pointer;
}

.card__button-like:hover {
  opacity: .5;
}
