.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity 0.5s linear;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &_type_view-image {
    background-color: rgba(0, 0, 0, .9);
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__info-container {
    width: 282px;
    padding: 50px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  &__view-image {
    max-width: 75vw;
    max-height: 75vh;
  }

  &__message {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon {
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;

    &_type_accept {
      background-image: url(../images/icon-accept.svg);
    }

    &_type_error {
      background-image: url(../images/icon-error.svg);
    }
  }


  &__description {
    margin: 0;
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FFFFFF;
  }

  &__form {
    width: 282px;
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  &__button-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -35px;
    right: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icone-close.svg);
    transition: opacity .6s;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__title {
    max-width: 100%;
    margin: 0;
    padding-bottom: 75px;
    align-self: flex-start;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;

    &_type_confirm {
      padding-bottom: 25px;
    }
  }

  &__input {
    width: 100%;
    padding: 0 0 10px;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;

    &_type_error {
      border-bottom: 1px solid #FF0000;
    }
  }

  &__input-error {
    width: 100%;
    min-height: 35px;
    padding-top: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
  }

  &__button {
    width: 100%;
    height: 46px;
    border: 0;
    padding: 0;
    margin-top: 10px;
    background-color: #000000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color .6s;

    &:hover {
      background-color: rgba(0, 0, 0, .8);
    }

    &_disabled {
      color: #000000;
      background-color: #E5E5E5;
      border: 1px solid #000000;
      opacity: .2;
      transition: none;
      cursor: default;

      &:hover {
        background-color: #E5E5E5;
      }
    }
  }

}

@media screen and (min-width: 768px) {
  .popup {
    &__info-container {
      width: 430px;
      padding: 60px 36px;
    }

    &__message {
      font-size: 24px;
    }

    &__icon {
      margin-bottom: 32px;
    }

    &__form {
      width: 430px;
      padding: 36px 36px 38px;
    }

    &__button-close {
      width: 32px;
      height: 32px;
      top: -40px;
      right: -40px;
    }

    &__title {
      padding-bottom: 54px;
      font-size: 24px;
      line-height: 1.21;
    }

    &__button {
      margin-top: 13px;
      font-size: 18px;
      line-height: 1.22;
    }
  }
}
