.header {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 320px) {
  .header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
}
